<%= form_with(model: [post, Comment.new]) do |form| %>
  <div>
    <%= form.text_area :body, placeholder: "Write a comment..." %>
  </div>
  <div>
    <%= form.submit "Post Comment" %>
  </div>
<% end %>